.menu {
  list-style: none;
  padding: 0;
}

.hover-underline {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  cursor: pointer;
}

.hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #00c951;
  transition: width 0.4s ease;
}

.hover-underline:hover::after {
  width: 100%;
}
